/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container {
  margin-top: 120px;
 }

.letter-card {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: white;
  background-color: rgb(70, 193, 197);
  margin-right: 8px;
  border-radius: 4px;
  height: 128px;
  width: 128px;
  font-size: 64px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 32px;
}

.result {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  color: white;
  background-color: rgb(252, 231, 186);
  margin-right: 8px;
  border-radius: 4px;
  height: 96px;
  font-size: 56px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 32px;
}
